services:
  web-dev:
    build: .
    command: python manage.py runserver 0.0.0.0:9000
    volumes:
      - .:/app
      - /dataset:/dataset
    env_file:
      - .env
        #user: ${UID:-1001}:${GID:-1001}
    restart: unless-stopped
    ports:
      - "9000:9000"
    networks:
      - proxy-net
networks:
  proxy-net:
